@import "styles/vars";

.catalog {
  position: relative;
  padding-bottom: 102px;

  @media (max-width: $xl) {
    padding-bottom: 50px;
  }

  @media (max-width: $sm) {
    margin: 0 auto;
    max-width: 320px;
    padding-top: 23px;
    padding-bottom: 20px;
  }
}

.sort {
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: $sortIndex;

  @media (max-width: $lg) {
    top: 0;
  }

  @media (max-width: $md) {
    position: static;
    margin-bottom: 20px;
  }
}

.title {
  margin-bottom: 25px;

  @media (max-width: $sm) {
    margin-bottom: 15px;
  }
}

.categories {
  margin-bottom: 50px;

  @media (max-width: $xxl) {
    width: 940px;
  }
}

.addProduct {
  margin-bottom: 20px;
}

.container {
  display: flex;
  column-gap: 5%;

  @media (max-width: $sm) {
    flex-direction: column;
    row-gap: 37px;
  }
}

.aside {
  flex: 0 0 auto;
}

.parameters {
  margin-bottom: 40px;

  @media (max-width: $lg) {
    margin-bottom: 20px;
  }
}

.productsContainer {
  flex: 1 1 auto;
}
