@import "styles/vars";

.modal {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
}

.overlay {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 50%);
}

.content {
  position: relative;
  background-color: #fff;
  height: fit-content;
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  .closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    background-color: transparent;

    @media (max-width: $md) {
      top: 10px;
      right: 10px;
      width: 12px;
      height: 12px;
    }

    img {
      width: 100%;
      vertical-align: top;
    }
  }
}

.opened {
  pointer-events: auto;
  opacity: 1;

  &.burger {
    z-index: $modalBurgerZIndex;
  }

  &.order {
    z-index: $modalOrderZIndex;
  }

  .content {
    transition: transform 0.3s ease;

    &.burger {
      transform: translateY(0);
    }

    &.order {
      transform: translateY(calc(50vh - 50%));
      border-radius: 8px;
    }
  }
}
