@import "./vars";

body {
  margin: 0;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $darkBlue;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
}

._container {
  position: relative;
  max-width: calc($maxWidthContainer + 2 * 5rem);
  min-width: $minWidth;
  margin: 0 auto;
  padding-right: 5rem;
  padding-left: 5rem;

  @media (max-width: $xl) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media (max-width: $lg) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media (max-width: $sm) {
    max-width: 576px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.main {
  flex: 1 1 auto;
}

%footer-menu-col {
  color: #fff;

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media (max-width: $lg) {
      row-gap: 19px;
    }
  }

  .link {
    line-height: 1.5;
    color: #fff;

    @media (max-width: $md) {
      font-size: 12px;
    }

    &:hover {
      color: $yellow;
      transition: all 0.3s ease;
    }
  }
}

.title1 {
  font-family: $fontFamily;
  font-weight: 500;
  color: $dark;
  font-size: 2.5rem;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: $lg) {
    font-size: 2rem;
  }

  @media (max-width: $md) {
    font-size: 1.25rem;
  }
}

.title2 {
  font-weight: 700;
  color: $dark;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $lg) {
    font-size: 1.5rem;
  }

  @media (max-width: $md) {
    font-size: 1.1rem;
  }
}
