// font
$fontFamily: "Inter";
$fontSize: 0.875rem;
$lineHeight: normal;

// container
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1370px;

// breakpoints
$xxl: 1536px;
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;

// z - indexИндексы
$headerZIndex: 110;
$modalBurgerZIndex: 100;
$modalOrderZIndex: 150;
$sortIndex: 10;

// color
$dark: #111;
$white: #fff;
$backgroundColor: #fff;
$yellow: #ffc85e;
$hoverYellow: #f5c158;
$blueGrey: #5c6370;
$darkBlue: #3f4e65;
$grey: #bdc6d0;
$whisperColor: #ededed;
$malachiteColor: #1fd85d;
$mustard: #ffca65;
$gradientColor: linear-gradient(90deg, rgb(255 198 80 / 30%) 0%, rgb(254 202 110 / 30%) 97.25%);
