@import "styles/vars";

.search {
  position: relative;
}

.big {
  width: 263px;
  height: 59px;

  @media (max-width: $sm) {
    display: flex;
    align-items: center;
    column-gap: 6px;
    width: auto;
    height: 15px;
  }
}

.small {
  width: 238px;
  height: 59px;

  @media (max-width: $sm) {
    width: 290px;
  }
}

.form {
  width: 100%;
  height: 100%;

  @media (max-width: $sm) {
    width: auto;
  }
}

.input {
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  background-color: $whisperColor;

  @media (max-width: $sm) {
    display: none;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: $blueGrey;
    opacity: 0.6;
  }
}

.btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
