@import "styles/vars";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.circ {
  border-radius: 50%;
}

.rectangle {
  gap: 10px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 15px 70px -11px rgb(43 28 1 / 4%);
}

.rectangle-green {
  gap: 10px;
  padding: 11px 26px;
  border-radius: 5px;
}

.oval {
  padding: 10px 19px;
  border-radius: 79px;
}

.cartSmall {
  gap: 5px !important;
  padding: 10px 19px;
  font-size: 10px !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 79px;
}

.minus,
.price {
  padding: 4px 14px;
  gap: 10px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 1000px;
}

.plus {
  padding: 4px 12px;
  gap: 10px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 1000px;
}

.yellow {
  font-weight: bold;
  color: #fff;
  background-color: $yellow;

  &:hover {
    background-color: $hoverYellow;
    color: #fff !important;
  }
}

.white {
  background: #fff;
}

.ping {
  background: rgba($mustard, 0.3);
}

.pink-gradient {
  background: linear-gradient(90deg, rgb(255 198 80 / 30%) 0%, rgb(254 202 110 / 30%) 97.25%);
}

.mustard {
  background: rgba($mustard, 0.5);
}

.green {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.045em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: $malachiteColor;
}
