@import "styles/vars";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 290px;
  max-height: 70px;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.cart {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.circ {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.rectangle {
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 15px 70px -11px rgb(43 28 1 / 4%);
}

.rectangle-green {
  padding: 5px 10.5px;
  border-radius: 5px;
}

.oval {
  padding: 10px 19px;
  border-radius: 79px;
}

.yellow {
  font-weight: bold;
  color: #fff;
  background-color: $yellow;

  &:hover {
    background-color: $hoverYellow;
    color: #fff !important;
  }
}

.white {
  background: #fff;
}

.ping {
  opacity: 0.3;
  background: $mustard;
}

.mustard {
  opacity: 0.5;
  background: $mustard;
}

.green {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #fff;
  background-color: $malachiteColor;
}
