@import "styles/vars";

.fullproduct {
  padding-bottom: 100px;

  @media (max-width: $xl) {
    padding-bottom: 50px;
  }

  @media (max-width: $sm) {
    margin: 0 auto;
    max-width: 320px;
    padding-top: 23px;
    padding-bottom: 20px;
  }
}
