@import "styles/vars";

.cart {
  width: 100%;
  padding-bottom: 100px;

  @media (max-width: $xl) {
    padding-bottom: 50px;
  }

  @media (max-width: $sm) {
    padding-top: 23px;
    padding-bottom: 20px;
  }
}

.title {
  margin-bottom: 50px;

  @media (max-width: $xl) {
    margin-bottom: 20px;
  }
}

.cartBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  @media (max-width: $md) {
    flex-direction: column;
    row-gap: 25px;
    margin-top: 25px;
  }
}

.priceTotal {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.3;
  color: $dark;

  @media (max-width: $md) {
    order: -1;
  }
}

.orderModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: 424px;
  width: 735px;
  font-size: 1.25rem;
  font-weight: 300;

  @media (max-width: $lg) {
    padding: 40px;
    max-width: 70vw;
    height: 288px;
  }

  @media (max-width: $md) {
    max-width: 80vw;
    font-size: 12px;
  }

  @media (max-width: $sm) {
    max-width: calc(100vw - 30px);
  }

  .title {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
