@import "styles/vars";

.top {
  &.categoryMenu {
    display: flex;
    column-gap: 0.7%;
    width: 100%;
    overflow-x: auto;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    text-align: center;
    box-shadow: 0 15px 70px -11px #2b1c010a;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      color: $yellow;
    }
  }
}

.left {
  &.categoryMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .item {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $dark;
    cursor: pointer;

    &.active {
      color: $yellow;
    }
  }
}
