@import "styles/vars";

.categoryMenu {
  display: flex;
  column-gap: 0.7%;
  width: 100%;
  overflow-x: auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  text-align: center;
  box-shadow: 0 15px 70px -11px #2b1c010a;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    color: $yellow;
  }
}
