@import "styles/vars";

.categoryItem {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: $dark;
  cursor: pointer;
}

.input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;

  &.edit {
    background: $whisperColor;
  }
}

.editBtn {
  width: 20px;
  height: 20px;
  background-color: transparent;

  img {
    width: 100%;
  }
}

.deleteBtn {
  width: 15px;
  height: 15px;
  background-color: transparent;

  img {
    width: 100%;
  }
}

.addItem {
  margin-bottom: 15px;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
}
